:root {
    --primary-color: #f5f5f5; /* Молочный белый */
    --secondary-color: #e0e0e0; /* Светло-серый */
    --accent-color: #ffc0cb; /* Пастельный розовый */
    --background-color: #ffffff; /* Белый */
    --text-color: black; /* Темно-серый */
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    width: 100svw;
    height: 100svh;
}

body .plate {
    background-color: var(--secondary-color);

    border-radius: 20px;
    border: solid thin lightgray;
}


.noto-sans-700 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: 
        "wdth" 100;
}

.archivo-black-800 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  